/* здесь используйте глобальные переменные */

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;


// color palette

$red: #ff0000;
$blue: #0000ff;
$green: #008000;
$white: #ffffff;

$basic-green: #68b738;
$basic-green-dark: #5eaa2f;

$basic-grey: #f2f2f2;
$basic-grey-darker: #ebebeb;
$basic-grey-darker-2: #e7e7e7;
$basic-grey-dark: #cdcdcd;

$special-grey: #666666;
$special-grey-darker: #444444;
$special-grey-dark: #222222;

$status-error: #ff8282;


// buttons
$primary-btn-bg: $basic-green;
$primary-btn-bg--hover: $basic-green-dark;
$primary-btn-bg--active: $basic-green-dark;
$primary-btn-bg: $basic-green;
$primary-btn-bg--hover: $basic-green-dark;
$primary-btn-bg--active: $basic-green-dark;

$secondary-btn-bg: $basic-grey;
$secondary-btn-bg--hover: $basic-grey-darker;
$secondary-btn-bg--active: $basic-grey-darker;
$secondary-btn-bg: $basic-grey;
$secondary-btn-bg--hover: $basic-grey-darker;
$secondary-btn-bg--active: $basic-grey-darker;


// border
$border-color: $basic-grey-dark;
$border-color: $basic-grey-dark;


// input
$input-border-color: $basic-grey-darker-2;
$input-border-color: $basic-grey-darker-2;
$input-border-color--hover: $border-color;
$input-border-color--focus: $special-grey-darker;
$input-border-color--error: $status-error;
$input-border-color--focus: $special-grey-darker;
$input-border-color--error: $status-error;
