/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/container.scss";
@import "./blocks/buttons.scss";
@import "./blocks/link.scss";
@import "./blocks/header.scss";
@import "./blocks/promo.scss";
@import "./blocks/promo-content.scss";
@import "./blocks/header-menu.scss";
@import "./blocks/program.scss";
@import "./blocks/stages.scss";
@import "./blocks/stages-description.scss";
@import "./blocks/example-section.scss";
@import "./blocks/example.scss";
@import "./blocks/example-content.scss";
@import "./blocks/example-info.scss";
@import "./blocks/info-item.scss";
@import "./blocks/example-slider.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-preview.scss";
@import "./blocks/product-properties.scss";
@import "./blocks/product-order.scss";
@import "./blocks/product-preview-more.scss";
@import "./blocks/more-title.scss";
@import "./blocks/more-controls.scss";
@import "./blocks/related-section.scss";
@import "./blocks/related-products.scss";
@import "./blocks/related-preview.scss";
@import "./blocks/related-order.scss";
@import "./blocks/related-products-offer.scss";
@import "./blocks/subscribe-section.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/subscribe-form.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/footer.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
