.address {
  &__wrapper {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    padding: 26px 0;
    font-style: initial;

    @media (min-width: $tablet-width) {
      gap: 30px;
      padding: 60px 40px;
    }

    @media (min-width: $desktop-width) {
      max-width: 565px;
      gap: 30px;
      padding: 61px 80px 60px;
      background-color: $white;
    }
  }

  &__title {
    max-width: 140px;
    margin: 0;
    line-height: 20px;
    font-family: $heading-font;
    text-transform: uppercase;
    color: #111111;

    @media (min-width: $tablet-width) {
      max-width: 163px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__location {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $special-grey-darker;

    @media (min-width: $tablet-width) {
      text-align: right;
      max-width: 157px;
      font-size: 16px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      text-align: left;
    }
  }

  &__location-city {
    @media (min-width: $tablet-width) {
      display: block;
      padding-top: 18px;
    }
  }
}
