.button-primary {
  color: #eeeeee;
  background-color: $primary-btn-bg;

  &:hover {
    background-color: $primary-btn-bg--hover;
  }
}

.button-secondary {
  color: $gray-dark;
  background-color: $secondary-btn-bg;

  &:hover {
    background-color: $secondary-btn-bg--hover;
  }
}
