.button {
  appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font-family: $heading-font;
  text-transform: uppercase;
  text-decoration: none;
}

.button--primary {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  background-color: $primary-btn-bg;

  &:hover {
    background-color: $primary-btn-bg--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--secondary {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $special-grey-darker;
  background-color: $secondary-btn-bg;

  &:hover {
    background-color: $secondary-btn-bg--hover;
  }
}
