.catalog {
  &.container {
    padding: 27px 0 0;

    @media (min-width: $tablet-width) {
      padding: 65px 30px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 74px 20px 0;
    }
  }

  &__heading {
    font-weight: 400;
    font-family: $heading-font;
    margin: 0 0 41px;
    padding: 0 20px;
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      margin: 0 0 84px;
      padding: 0;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    margin: 0 0 25px;

    @media (min-width: $tablet-width) {
      grid-template-columns: repeat(2, 324px);
      gap: 60px;
      margin: 0 0 74px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(4, 245px);
      gap: 63px 80px;
      margin: 0 0 71px;
    }
  }
}
