.section-address {
  font-style: initial;
  background-color: #ffffff;

  &__title {
    font-size: 20px;
    line-height: 26px;
    font-family: $heading-font;
    color: #111111;
  }

  &__location {
    line-height: 20px;
    color: $gray-dark;
  }
}
