.section-address {
  font-style: initial;
  background-color: #ffffff;

  &__title {
    line-height: 20px;
    font-family: $heading-font;
    color: #111111;
  }

  &__location {
    font-size: 14px;
    line-height: 20px;
    color: $special-grey-darker;
  }
}
