.copyright {
  width: 100%;
  justify-self: center;

  @media (min-width: $tablet-width) {
    width: auto;
    justify-self: right;
  }

  &__link {
    text-decoration: none;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: space-between;
    color: $special-grey;

    &:hover {
      color: $basic-green;
    }

    &:active {
      color: $basic-green;
      opacity: 0.3;
    }
  }

  &__text {
    line-height: 20px;
    color: $special-grey-darker;
  }
}
