.example {
  position: relative;

  &__title {
    font-weight: 400;
    font-family: $heading-font;
    margin: 0 0 40px;
    padding: 25px 0 0;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      margin: 0 0 60px;
      padding: 0;
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 146px;
      padding: 0;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop-width) {
      grid-template-columns: 436px 560px;
      justify-content: space-between;
    }
  }
}
