.header-menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      gap: 35px;
    }
  }

  &__item {
    text-align: center;
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: 0;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 22px 0 24px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    font-family: $heading-font;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 30px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 20px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__link--active {
    @media (min-width: $tablet-width) {
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 13px;
      text-decoration-color: $basic-green;
    }

    @media (min-width: $desktop-width) {
      text-decoration-color: $basic-green;
    }
  }

  &--promo &__link {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  &--promo &__link--active {
    @media (min-width: $desktop-width) {
      text-decoration-color: $white;
    }
  }
}
