.header {
  position: relative;

  &__wrapper {
    position: relative;
    min-height: 65px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    background-color: $white;
    border-bottom: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      padding: 25px 30px 0;
      grid-template-columns: max-content 1fr;
      background-color: transparent;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      padding: 55px 20px 0;
    }
  }

  &__logo {
    img {
      display: block;
    }

    &:hover img {
      opacity: 0.8;
    }

    &:active img {
      opacity: 0.6;
    }
  }

  &__company {
    justify-self: center;
    padding: 5px 0 0;

    img {
      display: block;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__toggle {
    width: 24px;
    height: 18px;
    justify-self: flex-end;
    background-image: url("../../icons/stack.svg#icon-bars");
    background-size: contain;

    @media (min-width: $tablet-width) {
      display: none;
    }

    &--nojs {
      display: none;
    }
  }

  &__toggle.toggled {
    background-image: url("../../icons/stack.svg#icon-close");
  }

  &__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    background-color: $white;
    z-index: 100;

    @media (min-width: $tablet-width) {
      display: block;
      position: relative;
      top: initial;
      left: initial;
      width: auto;
      padding: 0 5px;
      justify-self: end;
      border-top: none;
      background-color: transparent;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }

    &--nojs {
      display: block;
    }
  }

  &__nav.show {
    display: block;
  }
}
