.header__nav {
  &-toggle {
    width: 24px;
    height: 24px;
    background-image: url("../../icons/stack.svg#icon-bars");
  }
}

.header-menu {
  &__link {
    font-size: 20px;
    line-height: 20px;
    font-family: $heading-font;
    text-transform: uppercase;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
