.product-preview {
  &__content {
    background-color: $basic-grey;
  }

  &__title {
    line-height: 20px;
    font-family: $heading-font;
    color: $special-grey-dark;
  }

  &__caption {
    font-size: 12px;
    line-height: 16px;
    color: $special-grey-darker;
  }
}

.product-properties {
  &__name,
  &__value {
    font-size: 12px;
    line-height: 16px;
    color: $special-grey-darker;
  }
}
