.product-preview {
  position: relative;
  padding: 22px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 430px;
      background-color: $basic-grey;
    }
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-areas:
      "photo title"
      "photo properties"
      "order order";
    grid-template-columns: repeat(2, 1fr);
    z-index: 1;

    @media (min-width: $tablet-width) {
      grid-template-areas:
        "photo"
        "title"
        "properties"
        "order";
      grid-template-columns: 1fr;
    }
  }

  &__photo {
    grid-area: photo;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet-width) {
      height: 210px;
      margin: 0 0 22px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 12px;
    }

    img {
      display: block;
    }
  }

  &__title {
    grid-area: title;
    margin: 0 0 14px;
    padding: 0 52px 0 0;
    line-height: 20px;
    text-transform: uppercase;
    font-family: $heading-font;
    color: $special-grey-dark;

    @media (min-width: $tablet-width) {
      text-align: center;
      margin: 0 0 21px;
      padding: 0 60px;
      font-size: 20px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 23px;
      padding: 0 15px;
    }
  }
}

.product-properties {
  grid-area: properties;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 27px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 33px;
  }

  &__item {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      margin: 0 0 5px;
      padding: 0 0 5px;
      border-bottom: 1px solid $basic-grey-dark;
    }

    @media (min-width: $desktop-width) {
      &:nth-child(2) {
        margin: 0 0 4px;
        padding: 0 0 8px;
      }

      &:last-child {
        margin: 0;
        padding: 0 0 10px;
      }
    }
  }

  &__name,
  &__value {
    font-size: 12px;
    line-height: 16px;
    color: $special-grey-darker;

    @media (min-width: $tablet-width) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.product-order {
  grid-area: order;

  &__button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

.product-preview-more {
  position: relative;
  padding: 26px 20px 24px;

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 430px;
      background-color: $white;
      border: 2px solid $basic-grey;
    }
  }

  &__content {
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &__caption {
    padding: 0 0 21px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $special-grey-darker;

    @media (min-width: $tablet-width) {
      padding: 0 20px 84px;
      font-size: 16px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 90px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.product-preview-more__title {
  position: relative;
  margin: 0 0 8px;
  padding: 0;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $heading-font;
  color: $special-grey-dark;

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto 24px;
    background-image: url("../../icons/stack.svg#icon-plus");
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0 0 21px;
    padding: 0 40px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      width: 60px;
      height: 60px;
      margin: 0 auto 48px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 26px;
    padding: 0 15px;

    &::before {
      margin: 0 auto 40px;
    }
  }
}

.more-controls {
  &__button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}
