.program {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 20px 71px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: $tablet-width) {
      gap: 30px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }
  }

  &__item {
    position: relative;
    padding: 20px 20px 17px;
    background-color: $basic-grey;

    @media (min-width: $tablet-width) {
      padding: 77px 316px 57px 52px;
    }

    @media (min-width: $desktop-width) {
      padding: 20px 61px 59px 52px;
    }
  }

  &__item--slim {
    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 20px;
      background-image: url("../../icons/stack.svg#cat-slim");
      width: 50px;
      height: 53px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 81px;
        right: 63px;
        left: initial;
        width: 200px;
        height: 211px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 41px;
        left: 52px;
        right: initial;
        width: 100px;
        height: 106px;
      }
    }
  }

  &__item--pro {
    &::before {
      content: "";
      position: absolute;
      top: 23px;
      left: 11px;
      background-image: url("../../icons/stack.svg#cat-pro");
      width: 67px;
      height: 50px;
    }

    @media (min-width: $tablet-width) {
      &::before {
        top: 92px;
        right: 33px;
        left: initial;
        width: 268px;
        height: 200px;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        top: 47px;
        left: 33px;
        right: initial;
        width: 134px;
        height: 100px;
      }
    }
  }

  &__title {
    font-weight: 400;
    font-family: $heading-font;
    margin: 0;
    padding: 10px 0 29px 70px;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin: 0 0 24px;
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      padding: 57px 0 73px 162px;
    }
  }

  &__description {
    margin: 0 0 15px;
    padding: 0 0 23px;
    font-size: 14px;
    line-height: 18px;
    color: $special-grey-darker;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      margin: 0 0 52px;
      padding: 0;
      font-size: inherit;
      line-height: inherit;
      border: 0;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 27px;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-family: $heading-font;
    text-transform: uppercase;

    &::after {
      content: "";
      display: inline-block;
      margin: 0 0 2px 16px;
      width: 32px;
      height: 10px;
      background-image: url("../../icons/stack.svg#icon-arrow-short");
    }

    @media (min-width: $tablet-width) {
      &::after {
        content: "";
        margin: 0 0 4px 26px;
      }
    }

    &:hover {
      &::after {
        background-image: url("../../icons/stack.svg#icon-arrow-long");
      }
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
