.promo-content {
  padding: 0;
  z-index: 1;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 120px;
    text-align: left;
    color: inherit;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 0 0 100px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 25px;

    @media (min-width: $tablet-width) {
      margin: 0 0 40px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__subtitle {
    margin: 0 0 29px;
    font-size: 14px;
    line-height: 14px;
    font-family: $heading-font;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin: 0 0 50px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 52px;
    }
  }

  &__button {
    display: none;
    padding: 14px 28px;
    font-size: 20px;
    line-height: 26px;
    font-family: $heading-font;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-color: $primary-btn-bg;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }

    &:hover {
      background-color: $primary-btn-bg--hover;
    }
  }
}
