.promo {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 367px;
    background-image: url("../../images/promo-cat-green-mobile@2x.jpg");
    background-color: #64a73c;
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-image: url("../../images/promo-cat-green@2x.jpg");
      background-color: #64a73c;
      background-position: 100% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__wrapper {
    position: relative;
    padding: 27px 20px 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $tablet-width) {
      padding: 65px 0 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: repeat(2, 1fr);
      padding: 29px 0 52px;
    }
  }

  &__image {
    justify-self: center;
    margin: 0 0 3px;

    img {
      display: block;
    }

    @media (min-width: $tablet-width) {
      padding: 0 30px;
      justify-self: start;
      margin: -83px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      margin: 0 0 0 -163px;
    }
  }

  &__button {
    width: 100%;
    padding: 10px 0;
    font-size: inherit;
    line-height: 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.promo-content {
  padding: 0;
  z-index: 1;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 120px;
    text-align: left;
    color: inherit;
  }

  @media (min-width: $desktop-width) {
    padding: 81px 0 0 100px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 25px;

    @media (min-width: $tablet-width) {
      margin: 0 0 40px;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__subtitle {
    margin: 0 0 29px;
    font-size: 14px;
    line-height: 14px;
    font-family: $heading-font;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin: 0 0 50px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 52px;
    }
  }

  &__button {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
