.related-order {
  &__button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-family: $heading-font;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background-color: $primary-btn-bg;

    &:hover {
      background-color: $primary-btn-bg--hover;
    }
  }
}

