.sample-section {
  &__title {
    font-size: 36px;
    line-height: 40px;
  }
}

.sample-content {
  &__description {
    font-size: 14px;
    line-height: 18px;
    color: $special-grey-darker;
  }
}

.sample-info {
  &__progress {
    font-size: 24px;
    font-family: $heading-font;
  }

  &__caption {
    font-size: 12px;
    line-height: 12px;
    color: $special-grey-darker;
  }
}

.sample-total {
  &__description,
  &__sum {
    font-size: 14px;
    line-height: 20px;
    font-family: $heading-font;
    text-transform: uppercase;
  }
}

.sample-slider {
  &__curtain {
    color: $special-grey;

    &:hover {
      color: $basic-green;
    }

    &:active {
      color: $basic-green;
      opacity: 0.6;
    }
  }
}
