.social {
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  &__link {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__icon {
    color: $special-grey;

    &:hover {
      color: $basic-green;
    }

    &:active {
      color: $basic-green;
      opacity: 0.3;
    }
  }
}
