.subscribe-section {
  &__subtitle {
    font-size: 24px;
    line-height: 32px;
    font-family: $heading-font;
  }
}

scribe-form {
  &__input {
    border: 1px solid $input-border-color;

    &:hover {
      border-color: $input-border-color--hover;
    }

    &:focus {
      border-color: $input-border-color--focus;
    }
  }
}
