.subscribe-section {
  &__title {
    font-size: 24px;
    font-family: $heading-font;
  }

  &__subtitle {
    font-size: 16px;
    font-family: $heading-font;
  }
}

.subscribe-form {
  &__input {
    font-size: 20px;
    line-height: 30px;
    font-family: $heading-font;
    text-transform: uppercase;
    border: 1px solid $input-border-color;

    &:hover {
      border-color: $input-border-color--hover;
    }

    &:focus {
      border-color: $input-border-color--focus;
    }
  }

  &__button {
    font-size: 20px;
    line-height: 26px;
  }
}
