.subscribe {
  &__title {
    font-weight: 400;
    font-family: $heading-font;
    display: inline-block;
    font-size: 24px;
    margin: 0 0 12px -20px;
    padding: 0 40px 0 20px;
    background-color: $white;

    @media (min-width: $tablet-width) {
      margin: 0 0 66px;
      padding: 0 40px;
      font-size: 32px;
      line-height: 32px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 72px -40px;
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__subtitle {
    margin: 22px 0;
    padding: 0 30px;
    font-size: 16px;
    font-family: $heading-font;

    @media (min-width: $tablet-width) {
      margin: 0 0 24px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }
}
